@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root
{
    --clr: #14161e;
}
body
{
    min-height: 100vh;
    background: var(--clr);
}

.flex {
    display: flex;
    background-color: white;
}

.sidebar
{
    position:relative;
    width: 300px;
    height: 130vh;
    background: #fff;
    transition: 0.5s;
    padding-left: 10px;
    overflow: hidden;
}
 
.sidebar ul 
{
    position: relative;
    height: 120vh;
}
.sidebar ul li
{
    position: relative;
    list-style: none;
}
.sidebar ul li.active
{
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sidebar ul li.active::before
{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
}
.sidebar ul li.active::after
{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--clr);
    background: transparent;
}
.sidebar ul li.logo
{
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon
{
    font-size: 2em;
    color: var(--clr);
}

.sidebar ul li.logo .text
{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr);
}
.sidebar ul li a 
{
position: relative;
display:flex;
white-space: nowrap;
text-decoration: none;
}
.sidebar ul li a.icon
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
min-width: 60px;
height:70px;
font-size: 1.5em;
color: #333;
transition: 0.5s;
}
.sidebar ul li a.text
{
position:relative;
height: 70px;
display: flex;
align-items: center;
font-size: 1em;
color: #333;
padding-left: 15px;
text-transform: uppercase;
letter-spacing: 0.05em;
transition: 0.5s;
}
.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text
{
color: var(--bg);
}
.bottom
{
 position: absolute;
 bottom: 0;
 width: 100%;
}


.sidebar ul li a .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: #333;
    transition: 0.5s;
}
.sidebar ul li a .text
{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.sidebar ul li.active a .icon
{
 color: #fff;
}
.sidebar ul li.active a .text
{
 color: var(--bg);
}
.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text
{
    color: var(--bg);
}
.sidebar ul li.active a .icon::before
{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
    transition: 0.5s;
}
.sidebar ul li:hover.active .icon::before
{
background: #fff;
}

.imgBoox img
{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
}
.imgBoox
{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBx
{
  
    position: relative;
    width: 45px;
    height:45px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBx
{
position:relative;
width: 40px;
height:40px;
border-radius: 50%;
overflow: hidden;
}
.imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(25% - 20px);

}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: large;
}
.user-details .input-box input{
    height: 45px;
    width: 75%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    /* display: flex; */
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;

}

form .button button{
    height: 100%;
    width: 120px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}
form .button button:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
form .button input{
    height: 100%;
    width: 100px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
    .container{
        max-width: 100%;

    }   
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    } 
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;   
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

.upper-right-button {
    position: fixed;
    top: 10px; 
    right: 10px; 
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }

 /* .user-details .select-box select{
    height: 45px;
    width: 75%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
} */